:root {
    --font-family: 'Poppins', sans-serif;
    --title-font: 'Sen', sans-serif;
    --primary: #ffb900;
    --text-color: #171100;
    --bg-color: #fffcf4;
    --gray: #5f5b53;
}

html,
body {
    scroll-behavior: smooth;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    color: var(--text-color);
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: #fff;
}

/* Common */
.main-content {
    width: 1170px;
    max-width: calc(100vw - 64px);
    margin: 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 118px;
    height: 50px;
    border-radius: 25px;
    color: #fff;
    font-weight: 600;
}

.black-btn {
    background: var(--text-color);
}

.yellow-btn {
    background: var(--primary);
}

.small-btn {
    font-size: 1.4rem;
}

.large-btn {
    font-size: 1.8rem;
}

.btn:hover {
    opacity: 0.9;
}

.sub-title {
    color: var(--text-color);
    font-family: var(--title-font);
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: -0.76px;
}

.desc {
    color: #5f5b53;
    line-height: 1.75;
}

.small-desc {
    font-size: 1.4rem;
    line-height: 1.86;
}

.large-desc {
    font-size: 1.8rem;
    line-height: 1.67;
}

.line-clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: var(--line-clamp, 2);
}

/* Header */
.header {
    padding: 36px 0 8px;
    background: var(--bg-color);
}

.header.sticky {
    position: sticky;
    top: -28px;
    z-index: 1;
}

.header .body {
    display: flex;
    align-items: center;
}

.logo {
    line-height: 0;
}

.header .nav {
    margin-left: auto;
}

.header .nav ul {
    display: flex;
    align-items: center;
}

.header .nav a {
    color: #5f5b53;
    font-size: 1.6rem;
    padding: 8px 21px;
}

.header .nav a:hover,
.header li.active a {
    color: var(--text-color);
    text-shadow: 1px 0 0 currentColor;
}

.header li.active a {
    position: relative;
}

.header li.active a::before {
    position: absolute;
    left: 21px;
    bottom: 6px;
    display: inline-block;
    content: '';
    width: 12px;
    height: 2px;
    background-color: var(--text-color);
    border-radius: 1px;
}

.header .btn {
    width: 144px;
    margin-left: 49px;
    border-radius: 24.5px;
}

/* Hero */
.hero {
    padding: 56px 0 65px;
    background: var(--bg-color);
}

.hero .main-content {
    display: flex;
}

.img-block,
.hero .body {
    flex: 1;
}

.hero .img-block {
    position: relative;
    width: 48%;
    line-height: 0;
}

.img-block .hero-img {
    width: 470px;
    height: 685px;
    border-radius: 20px;
    background: url('/assets/img/hero-img.jpg') lightgray -448.75px 0px / 218.672% 100% no-repeat;
}

.hero .course-overview {
    position: absolute;
    bottom: 48px;
    right: 0;
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero .overview-item {
    display: flex;
}

.hero .overview-item:not(:first-child) {
    margin-top: 14px;
}

.hero .overview-img {
    width: 48px;
    height: 48px;
    margin-right: 16px;
}

.overview-item .info {
    min-width: 158px;
}

.overview-item .title {
    font-weight: 600;
    line-height: 1.67;
}

.hero .body {
    max-width: 470px;
    margin: 64px 0 0 130px;
}

.hero .body .title {
    font-family: var(--title-font);
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .body .desc {
    margin-top: 22px;
}

.hero .body .sub-desc {
    line-height: 1.67;
}

.hero .cta-group {
    display: flex;
    align-items: center;
    margin: 38px 0 48px;
}

.see-courses {
    width: 180px;
    height: 64px;
    border-radius: 32px;
}

.watch-video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
}

.watch-video:hover .play-icon {
    background: #efefef;
}

.watch-video:hover .label {
    text-shadow: 1px 0 0 currentColor;
}

.hero .play-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero .label {
    margin-left: 14px;
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
}

.hero .stats.desc {
    display: flex;
    align-items: baseline;
    margin-top: 8px;
    margin-left: -28px;
}

.stats strong {
    color: var(--text-color);
    font-family: var(--title-font);
    padding: 0 14px 0 28px;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.26;
    letter-spacing: normal;
}

/* Product */
.products {
    padding: 200px 0;
}

.products .row {
    align-items: center;
}

.products .row-top .desc {
    margin-top: 16px;
    width: 458px;
}

.products .btn-group {
    display: flex;
}

.products .control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--primary);
    border: 1px solid currentColor;
    border-radius: 50%;
    cursor: pointer;
}

.products .control-btn:hover {
    color: #fff;
    background: var(--primary);
}

.products .control-btn + .control-btn {
    margin-left: 18px;
}

.products .courses-list {
    margin-top: 55px;
    gap: 30px;
}

.products .course-item {
    display: block;
    width: 370px;
    border: 1px solid #e2dfda;
    border-radius: 12px;
}

.products .course-item:hover {
    border: none;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.products .course-item .image {
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.products .course-1 {
    background: url('/assets/img/course-1.png') lightgray 50% / cover no-repeat;
}

.products .course-2 {
    background: url('/assets/img/course-2.png') lightgray 50% / cover no-repeat;
}

.products .course-3 {
    background: url('/assets/img/course-3.png') lightgray -169.455px -364.527px / 211.892% 423.637% no-repeat;
}

.products .body {
    padding: 16px 22px 22px;
}

.products .body .title {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.products .rating {
    display: flex;
    align-items: center;
}

.products .rating .star {
    width: 18px;
    height: 18px;
}

.products .rating span {
    margin-left: 6px;
    padding-top: 2px;
    color: var(--primary);
    line-height: 1.75;
}

.products .body .desc {
    margin-top: 6px;
}

.products .body .row {
    margin-top: 12px;
}

.products .btn:hover {
    opacity: 1;
    background: var(--primary);
}

/* Feedback */
.feedback {
    background: #2e2100;
    padding: 96px 0;
}

.feedback .row {
    justify-content: space-between;
}

.feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 72px;
    background: url('/assets/img/avatar.png') lightgray -51.126px -33.052px / 228.267% 342.4% no-repeat;
}

.feedback .sub-title {
    color: #f7f7f7;
    margin-top: 18px;
    font-size: 2.4rem;
    line-height: 1.42;
}

.feedback .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    line-height: 1.86;
}

.feedback .text {
    display: flex;
    flex-direction: column;
    color: #fff;
    width: 66%;
    font-size: 2.6rem;
    font-style: italic;
    line-height: 1.54;
}

.feedback .double-quote {
    width: 30px;
    height: 28px;
}

.feedback .text p {
    margin-left: 30px;
}

.feedback .dots {
    display: flex;
    margin-top: 26px;
}

.feedback .dot {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #634700;
    border-radius: 50%;
}

.feedback .dotli.active {
    background: var(--primary);
}

.feedback .dot + .dot {
    margin-left: 6px;
}

/* Learner-outcomes */
.learner-outcomes {
    margin-top: 100px;
    padding: 100px 0;
}

.learner-outcomes .row {
    height: 438px;
}

.learner-outcomes .images {
    display: flex;
}

.learner-outcomes .image {
    width: 270px;
    border-radius: 16px;
}

.learner-outcomes .image-left {
    align-self: flex-end;
    height: 404px;
    background: url('/assets/img/learner-1.png') lightgray 50% / cover no-repeat;
}

.learner-outcomes .image-right {
    margin-left: 30px;
    height: 405px;
    background: url('/assets/img/learner-2.png') lightgray 50% / cover no-repeat;
}

.learner-outcomes .body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40.5%;
}

.learner-outcomes .desc {
    margin-top: 16px;
}

.learner-outcomes .btn {
    margin-top: 32px;
    min-width: 137px;
}
